/* 
Copyright 2023, Salvador Pio Alonday

This file is part of The Web Brain Project

The Web Brain Project is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software Foundation,
either version 3 of the License, or (at your option) any later version.

The Web Brain Project is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with The Web
Brain Project. If not, see <https://www.gnu.org/licenses/>.
*/

.searchPage {
  height: 400px;
  width: 100%;
  position: relative;
  border: 1px solid white;
  border-radius: 20px;
}
.searchPage * {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.nodeDescription {
  position: absolute;
  top: 0px;
  padding: 15px;
  font-size: 1rem;
  text-align: justify;
  width: 100%;
}

.nodeDescription > div {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.input {
  background: top left url(../../assets/search-white.svg) no-repeat;
  border-style: solid;
  width: min(100%, 400px);
  padding: 8px;
  padding-left: 30px;
  border: 1px solid #fff;
  border-radius: 8px;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
}

.input:focus,
.inputNoBackground {
  padding-left: 8px;
  background: none;
}

.input:focus::placeholder {
  color: transparent;
}

.inputDiv {
  display: flex;
  justify-content: center;
}

.bottomThird {
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 33%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonsDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.linkFlexItem {
  width: min(100%, 400px);
}
