.form {
  display: flex;
  flex-direction: column;
}

.form * {
  border: none;
  background-color: transparent;

  padding: 0;
  list-style: none;
  text-align: justify;
}

.form select:invalid,
.form input:invalid,
.form textarea:invalid {
  /* border: 1px solid red; */
}

.form button,
.form select {
  width: 100%;
}
.form fieldset {
  margin: auto;
  border-bottom: 1px solid;
}

.sectionDiv {
  margin: 5px;
  display: flex;
  gap: 10px;
}

.sectionDiv input,
.sectionDiv textarea {
  flex: 1;
}

.submitButtonDiv {
  width: 100%;
  font-size: 20px;
}
.submitButtonDiv button {
  text-align: center;
}
