/* 
Copyright 2023, Salvador Pio Alonday

This file is part of The Online Brain Project

The Online Brain Project is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software Foundation,
either version 3 of the License, or (at your option) any later version.

The Online Brain Project is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with The Online
Brain Project. If not, see <https://www.gnu.org/licenses/>.
*/

.form {
  display: flex;
  flex-direction: column;
}

.form * {
  border: none;
  background-color: transparent;

  padding: 0;
  list-style: none;
  text-align: justify;
}

.form select:invalid,
.form input:invalid,
.form textarea:invalid {
  /* border: 1px solid red; */
}

.form button,
.form select {
  width: 100%;
}
.form fieldset {
  margin: auto;
  border-bottom: 1px solid;
}

.sectionDiv {
  margin: 5px;
  display: flex;
  gap: 10px;
}

.sectionDiv input,
.sectionDiv textarea {
  flex: 1;
}

.submitButtonDiv {
  width: 100%;
  font-size: 20px;
}
.submitButtonDiv button {
  text-align: center;
}
