/* 
Copyright 2023, Salvador Pio Alonday

This file is part of The Online Brain Project

The Online Brain Project is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software Foundation,
either version 3 of the License, or (at your option) any later version.

The Online Brain Project is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with The Online
Brain Project. If not, see <https://www.gnu.org/licenses/>.
*/

.form {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.formUndisplayed * {
  display: none;
}

.form .title *,
.form .title,
.submitButtonDiv * {
  font-size: 1rem;
  border: none;
  background-color: transparent;

  margin: 0;
  padding: 0;
  list-style: none;
  text-align: justify;
}

.form .title {
  margin: 20px 0;
}

.form fieldset:first-child {
  margin-top: 0px;
}

.submitButtonDiv {
  flex: 1;
  position: fixed;
  bottom: 20px;
  width: calc(100vw - 40px);
  border-bottom: 1px solid;
  font-size: 20px;
}
.submitButtonDiv button {
  margin-top: auto;
}
