/* 
Copyright 2023, Salvador Pio Alonday

This file is part of The Web Brain Project

The Web Brain Project is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software Foundation,
either version 3 of the License, or (at your option) any later version.

The Web Brain Project is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with The Web
Brain Project. If not, see <https://www.gnu.org/licenses/>.
*/

.input {
  border-style: solid;
  width: min(100%, 810px);
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 8px;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
}

.input:focus,
.inputNoBackground {
  padding-left: 8px;
}

.input:focus::placeholder {
  color: transparent;
}

.inputDiv {
  width: 100%;
  padding: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  border: none;
  background-color: transparent;
  font-size: 3rem;
}

.nodeDescriptionEditing {
  position: absolute;
  top: 60px;
  font-size: 1rem;
  text-align: center;
  width: 100%;
}

.submitDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
