/* 
Copyright 2023, Salvador Pio Alonday

This file is part of The Online Brain Project

The Online Brain Project is free software: you can redistribute it and/or modify it under
the terms of the GNU General Public License as published by the Free Software Foundation,
either version 3 of the License, or (at your option) any later version.

The Online Brain Project is distributed in the hope that it will be useful, but WITHOUT
ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with The Online
Brain Project. If not, see <https://www.gnu.org/licenses/>.
*/

.input {
  border-style: solid;
  width: min(100%, 810px);
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 8px;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
}

.input:focus,
.inputNoBackground {
  padding-left: 8px;
}

.input:focus::placeholder {
  color: transparent;
}

.inputDiv {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.buttonDiv {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.plusButton {
  display: block;
  border: none;
  background-color: transparent;
  font-size: 3rem;
}

.nodeDescription {
  font-size: 20px;
  text-align: justify;
  padding: 20px;
  position: fixed;
  top: 0;
  height: min(50%, auto);
}

.nodeDescription > div {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.nodeDescription p,
.nodeDescription h3 {
  margin: 0;
}

.submitDiv {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
