.buttonDiv {
  display: flex;
  flex-direction: column;
}

.plusButton {
  display: block;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 3rem;
}

.nodeDescription {
  font-size: 20px;
  text-align: justify;
  padding: 20px;
  position: fixed;
  top: 0;
  height: min(50%, auto);
}

.nodeDescription > div {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.nodeDescription p,
.nodeDescription h3 {
  margin: 0;
}

.submitDiv {
  padding: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
}
