.searchPage * {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.nodeDescription {
  position: fixed;
  top: 0px;
  padding: 20px;
  font-size: 1rem;
  text-align: justify;
  height: min(50%, auto);
}

.nodeDescription > div {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.input {
  background: top left url(../assets/search.svg) no-repeat;
  border-style: solid;
  flex: 1;
  padding: 8px;
  border: 1px solid #222222;
  border-radius: 8px;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
}

.input:focus,
.inputNoBackground {
  background: none;
}

.inputDiv {
  display: flex;
}

.bottomThird {
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonsDiv {
  display: flex;
  gap: 10px;
}

.linkFlexItem {
  flex: 1;
  width: 100%;
}
