.form {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.formUndisplayed * {
  display: none;
}

.exitDiv button {
  border: none;
  font-size: 1.5rem;
}

.form .title *,
.form .prereqs *,
.form .targets *,
.form .title,
.form .prereqs,
.form .targets,
.submitButtonDiv * {
  border: none;
  background-color: transparent;

  margin: 0;
  padding: 0;
  list-style: none;
  text-align: justify;
}

.form .title,
.form .prereqs,
.form .targets {
  margin: 20px 0;
}

.form fieldset:first-child {
  margin-top: 0px;
}

.submitButtonDiv {
  flex: 1;
  position: fixed;
  bottom: 20px;
  width: calc(100vw - 40px);
  border-bottom: 1px solid;
  font-size: 20px;
  background-color: white;
}
.submitButtonDiv button {
  margin-top: auto;
}

.learn,
.practice {
  margin: 20px 0;
  padding: 0;
  border: none;
}

.learn h3,
.practice h3 {
  margin: 0;
}
